form input[type="text"], 
input[type="password"],
form input[type="submit"],
form textarea {
  margin-top: 8px;
}

a {
}

.g {
  color: #777;
}

input.btn {
  font-weight: bold;
}

.b {
  font-weight: bold;
}

h1, h2, h3, h4, p, a, label {
  padding: 0px;
  margin: 0px;
}

body > .header {
  border: 1px solid gray;
  border-right: none;
  background: #cee3f8;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-bottom: 4px;
  padding-right: 0px;
}

body > .header > a {
  text-decoration: none;
  color: #222;
}

body > .header > .login {
  margin: 0px;
  padding: 4px;
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  background: #EFF7FF;
}

body > .header > .login > a {
  text-decoration: none;
  color: #369;
  font-size: 12px;
}

body > .header > .login > label.karma {
  text-decoration: none;
  color: #369;
  font-weight: bold;
  font-size: 12px;
}

body > .header > .sublist {
  background: grey;
}

.login > form {
  float: right;
}

.sublist {
  height: 18px;
  line-height: 18px;
  padding-left: 18px;
  background: #eee;
}

.sublist a {
  margin-right: 4px;
  text-transform: uppercase;
  font-size: 10px;
  color: #333;
}

.dull {
  color: #888;
  font-size: 11px;
  padding-left: 1px;
}

.dull2 {
  font-weight: bold;
  font-size: 11px;
  padding-left: 1px;
  color: #369;
}

.dull3 {
  font-size: 11px;
  padding-left: 1px;
  color: #333;
  font-weight: bold;
}

.dull4 {
  font-weight: bold;
  color: #888;
  font-size: 11px;
  padding-left: 1px;
}

.nsfw {
  color: white;
  padding: 2px;
  margin: 0px;
  border-radius: 1px;
  font-weight: bold;
  background: #e00;
  font-size: 10px;
}


.c {
  text-align: center;
}

.arrow-up {
  position: relative;
}

.arrow-down {
  position: relative;
}

.scoring {
  width: 50px;
}

.header  h1.title {
  display: inline-block;
}

.header > .subtitle {
  margin-left: 12px;
  display: inline-block;
}

.header > .subtitle > a {
  font-weight: bold;
  color: black;
}

img.flip {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

a.btn-primary {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background: #369;
}
